.border-bottom{
    border-color: #000000 !important;
}
.no-border{
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 0rem .75rem;
    width: 100%;
}
.no-border-financial{
    border: 0;
    width: 100%;
}
input[type="checkbox"]{
    height: 25px;
    width: 25px
}
.survey-answer{
    height: 15px !important;
    width:25px !important; ;
}
.mt-300{
    margin-top: 300px;
}

.notes {
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: 0px;
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
}
#candidate {
    display: block;
    }
#family {
    display: none;
    }
#financial_family {
    display: none;
    }
#other {
    display: none;
    }
#agreement {
    display: none;
    }
.family_info{
    display: none;
}
.marg-top{
    margin-top: 20px;
}
